.react-tabs__tab--selected {
    border-bottom: 2px solid #FF0000; /* Change this color to your preference */
    font-weight: bold;
    border-radius: 10%;
  }
  
  .react-tabs__tab{
    border-bottom: none;
  }
  